html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #064f18;
	min-height: 100vh;
	flex-direction: column;
}

img {
	max-width: 100%; 
	width: 35px;
	height: auto;    
	margin: 0px 20px 0 80px;
}
img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #bcefb5;
	color: #064f18;
	text-decoration: none;
}

div.article-panel {
    background: #064f18;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    color: rgb(108, 174, 82);
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #064f18;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	background: #bcefb5;
	height: 60px;
}
#mainmenu {
    position: relative;
}
.search-bar {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar form {
    display: flex;
    align-items: center; 
	height: 6px;
}

.search-bar input {
    margin: 0;
    border: none;
    background: none;
    outline: none;
    color: #064f18;
    font-size: 14px;
    width: 300px;
    height: 20px;
}

.search-bar button {
    margin: 0px;
}

.logo {
	background: url('../images/logo.png');
	width: 60px;
	height: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

form.hidden-form {
	margin: 0px;
	padding: 0px;
	border: none;
	width: 0px;
}

.quantity-input {
	width: 70px;
}

.product-img {
    width: 250px;
    height: auto;
	display: block; /* Забезпечте відокремленість від інших елементів */
    margin: 0 auto;
}


ul.mainmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
    font-size: 20px;
    overflow: hidden;
}

ul.mainmenu li {
    float: left;
    margin: 15px 20px 0 40px;
}

ul.mainmenu li.logo {
    margin: 0;
}

ul.mainmenu li.selected {
    background-color: #7b1515; 
}

ul.mainmenu li.last {
    float: right;
}

ul.mainmenu li.last a {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically within the container */
}

ul.mainmenu li a {
    color: #064f18;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

ul.mainmenu li a:hover {
    color: #bcefb5;
    background-color: #064f18;
    border-radius: 5px;
}

ul.mainmenu li.last img {
    width: 40px;
    height: auto;
    margin-right: 5px; /* Add some spacing between the image and the text */
	margin-left: 5px;
}

ul.mainmenu li.site-name {
    float: left;
    margin: 7px 0 0 0; 
	font-size: 35px;
}

ul.mainmenu li.site-name a {
    color: #064f18;
    text-decoration: none;
}

ul.mainmenu li.site-name a:hover {
    color: #bcefb5;
    background-color: #064f18;
    border-radius: 5px;
}

footer {
	background-color: #dedcdc;
	padding: 10px;
	text-align: center;
	margin-top: auto;
}

.panelitems {
	text-align: center;
	margin-top: 20px
}

ul.langitem {
	list-style: none;
	display: inline-block;
	margin: 30px;
	padding: 0;
	max-width: 300px
}
ul.langitem li {
	margin: 10px 0 0 0;
	width: 100%;
}
ul.langitem li.image {
	margin: 0;
	text-align: center;
	width: 100%;
	height: 250px;
	overflow: hidden;
}
ul.langitem li.descr {
	color: #777;
	height: 170px;
	overflow: hidden;
}
ul.langitem li a {
	color: #064f18;
	text-decoration: none;
	font-size: 20px;
}
ul.langitem li a:hover {
	color: #064f18;
}
.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.left-chapters { 
    margin: 0;
    background: #dedcdc;
    border-right: 1px solid #ccc;
    min-height: 100%;
}
.left-chapters ul {
    width: 300px;
    min-height: 100%;
    margin: 0;
    padding: 20px 10px 10px 20px;
    list-style: none;
    font-size: 20px;
}
.left-chapters ul li {
    margin: 30px 0 0 0;
    color: #999;
}
.left-chapters ul li a {
    color: #7f7e7e;
    text-decoration: none;
}
.left-chapters ul li.selected a {
    color: #064f18; /* змініть колір тексту для виділеної категорії */
    font-weight: bold; /* опціонально: можна змінити товщину шрифту для виділеної категорії */
}
.left-chapters ul li a:hover { color: #064f18; }
.left-chapters ul li.share {margin: 60px 0 0 0;}
.left-chapters ul li.share p {margin: 30px 0 30px 0;}
.left-chapters ul li.share a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	font-family: Sans-serif, Arial, Tahoma;
}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li a {
	color: rgb(108, 174, 82);
	text-decoration: none;
}
ul.breadcrumbs li a:hover { color: #CC0000; }
ul.breadcrumbs li:after{
	padding: 0 10px 0 10px;
	content: "\2192";
}
ul.breadcrumbs li.last:after {content: "";}

ul.control {
	margin: 0;
	padding: 60px 0 0 0;
	list-style: none;
	font-family: Sans-serif, Arial, Tahoma;
	font-size: 18px;
	width: 100%;
}
ul.control li {	float: left; padding: 0 0 0 10px;}
ul.control li.first:before {content: "\2190"; padding: 0 10px 0 0;}
ul.control li.last {float: right; padding: 0 40px 0 0;}
ul.control li.last:after {content: "\2192"; padding: 0 0 0 10px;}
ul.control li a { color: #bcefb5; text-decoration: none; }
ul.control li a:hover { color: #1f0505; }

ul.content-table {
	margin: 0;
	padding: 60px 0 0 30px;
	list-style: none;
	font-family: Sans-serif, Arial, Tahoma;
	font-size: 28px;
}
ul.content-table li {
	margin: 0 0 40px 0;
}
ul.content-table li a {
	color: #BB5715;
	text-decoration: none;
}
ul.content-table li a:hover {color: #064f18;}

.content-text {
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 20px;
	font-family: Yandex Sans Display Light;
}
.content-text h1 {font-size: 32px;}

ul.lang-list {
	list-style: none;
	margin: 0;
	padding: 14px 0 0 0;
	background: #3F4137;
	width: 100%;
	height: 50px;
	border-top: 1px solid #959A82;
	box-sizing: border-box;
	font-size: 18px;
	font-family: Sans-serif, Arial, Tahoma;
}
ul.lang-list li {
	display: inline-block;
	margin-left: 40px;
}
ul.lang-list li.selected {color: #064f18; border-bottom: 1px solid #fdc073;}
ul.lang-list li a {
	color: #eee;
	text-decoration: none;
}
ul.lang-list li a:hover {color: #064f18;}

.topic-subject .topic-line {
	border-bottom: 1px solid #CC0000;
	margin-top: -16px;
}

.topic-subject .topic-text {
	display: inline-block;
	font-size: 28px;
	color: #777;
	padding: 0 10px 0 10px;
	margin-left: 30px;
	background: #fff;
	font-family: Sans-serif, Arial, Tahoma;
}

.list-topic {
	margin: 40px 0 60px 0;
	font-family: Sans-serif, Arial, Tahoma;
}
.list-topic p {
	margin: 0;
	font-size: 28px;
}
.list-topic ol {
	columns: 2;
	-webkit-columns: 2;
	column-gap: 40px;
}
.list-topic ol li {
	display: list-item;
	margin: 10px 10px 0 0px;
	padding: 0 0 0 10px;
}
.list-topic ol li a {
	color: #bcefb5;
	text-decoration: none;
}
.list-topic ol li a:hover {color: #CC0000;}

.highlight {
	max-width: 350px;
	padding: 0 10px 0 10px;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	background: #f0f0f0;
}
.highlight p { margin: 0; }
.highlight .block {
	width: 100%;
	margin: 0;
}
.highlight .block p { margin: 0; }

.quote {
	background: url('../images/blockquote.png') no-repeat 0 10px;
	padding: 5px 5px 5px 70px;
	font-family: Sans-serif, Arial, Tahoma;
	font-style: italic;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0; 
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none; 
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px; /* Доданий відступ від країв сторінки */
}

.product-block {
    display: inline-block; /* Змінили з flex на inline-block */
    width: calc(23% - 20px); /* Змінили ширину, щоб врахувати відступи */
    margin-right: 20px; /* Додали правий відступ між блоками */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #b1b7b9;
    box-sizing: border-box;
    text-align: center;
}

.product-block img {
    width: 150px;
    height: auto;
    margin: 0 auto; /* Вирівнювання картинки по центру горизонталі */
    display: block; /* Забезпечення, що margin: 0 auto; працює */
}
.product-block:hover img {
    box-shadow: none; /* Відміна тіні при наведенні */
    border: 1px solid #b1b7b9; /* Збереження стандартної обводки */
}
.product-block h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-block p {
    margin: 5px 0;
}

.product-block:hover {
    border: 2px solid #064f18; /* колір рамки для виділення */
    box-shadow: 0 0 10px rgba(43, 255, 43, 0.5); /* тінь для виділення */
}
.product-title {
	color: #064f18; /* Змініть колір тексту за потребою */
	text-decoration: none; /* Вимкнення стандартного оформлення посилання */
}
.product img {
    width: 300px;
    height: auto;
    margin: 0 auto; /* Вирівнювання картинки по центру горизонталі */
    display: block; /* Забезпечення, що margin: 0 auto; працює */
}


form {
    max-width: 400px;
	margin: 0 auto;
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(158, 227, 84);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


