{% extends 'base.html' %}

{% block content %}
  <div class="about-us">
    <h1>Про нас</h1>

    <p>Ласкаво просимо в інтернет-магазин "Здорова полиця" - вашого надійного партнера у справі здорового харчування та збалансованого способу життя.</p>

    <h2>Наша місія</h2>
    <p>Ми прагнемо забезпечити наших клієнтів найвищою якістю натуральних продуктів, які сприяють здоров'ю та добробуту.</p>

    <h2>Наш асортимент</h2>
    <p>У нашому асортименті ви знайдете тільки найкращі продукти, обрані з урахуванням їх користі для здоров'я та смакових якостей.</p>

    <h2>Наші цінності</h2>
    <p>Ми віримо в те, що здорове харчування - ключ до енергійного та радісного життя. Ми прагнемо робити доступними найкращі продукти для наших клієнтів.</p>

    <h2>Зв'яжіться з нами</h2>
    <p>Маєте питання чи пропозиції? Не соромтеся зв'язатися з нашою командою за номером +380665080654. Ми завжди готові вам допомогти!</p>

    <p>Дякуємо, що обрали "Здорова полиця" - вашого провідника у світі здорового харчування.</p>
  </div>
{% endblock %}
